* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/platexotique.jpg");
}

header {
    width: 100vw;
    display: flex;
    background: burlywood;
    min-height:8vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    text-decoration: none;
    color: black;
    text-align:center;
    display:block;
    width:100px;
    height:8vh;
    line-height: 8vh;   
}

.container {
    background: rgba(0, 0, 0, 0.6);
    color:white;
    min-height: 92vh;
}

h2 {
    padding: 15px 0;
}

p {
    margin: 10px 0;
}