* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

header {
    width: 100vw;
    display: flex;
    background: burlywood;
    min-height:8vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    text-decoration: none;
    color: black;
    text-align:center;
    display:block;
    width:100px;
    height:8vh;
    line-height: 8vh;
    
}